:host ::ng-deep {
    input {
        padding: 5px;
        border: 1px solid gray;
        @apply rounded
    }

    button {
        padding: 10px;
        border-radius: 7px;
        cursor: pointer;
    }

    .p-message-wrapper {
        padding: .5rem;
        background-color: rgb(252, 181, 181);
        border-radius: 5px;
        color: rgb(255, 50, 50);
    }
}