<div class="card flex justify-content-center gap-2 flex-wrap">
    @if (loggedIn) {
        <p-button severity="primary" routerLink="" icon="pi pi-home"/>
        <p-button label="Add / Remove levels" severity="help" routerLink="add-remove-levels"/>
        <p-button label="Log out" severity="danger"/>
    } @else {
        <p-button (onClick)="visibleLoginPopup = true" label="Admin login" severity="contrast"/>
    }
</div>

<p-dialog 
    header="Header" 
    [(visible)]="visibleLoginPopup" 
    [modal]="true" 
    [style]="{ width: '25rem' }"
    [dismissableMask]="true"
>
        <ng-template pTemplate="header">
            <div class="flex items-center justify-center gap-2 p-2">
                <p-avatar 
                    image="assets/img/wolf.jpg"
                    shape="circle" />
                <span class="font-bold white-space-nowrap">
                    rubenalarcongalvez
                </span>
            </div>
        </ng-template>
        <form [formGroup]="form" (ngSubmit)="login()" (keydown.enter)="login()" class="p-2">
            <span class="p-text-secondary block mb-5">Just for the admin to update the content.</span>
            <div class="flex items-center gap-3 mb-3">
                <label for="username" class="font-semibold w-6rem">
                    Username
                </label>
                <input pInputText id="username" class="flex-auto" autocomplete="off" formControlName="username"/>
            </div>
            <div class="flex flex-col justify-center items-start gap-3">
                <section class="flex items-center gap-3 w-full">
                    <label for="password" class="font-semibold w-6rem">Password</label>
                    <input pInputText id="password" class="flex-auto" autocomplete="on" type="password" formControlName="password"/>
                </section>
                @if (loginFailed) {
                    <p-messages class="w-full">
                        <ng-template pTemplate>
                            <i class="pi pi-times" style="font-size: 1rem"></i>
                            <div class="ml-2">Wrong password</div>
                        </ng-template>
                    </p-messages>
                }
            </div>
        </form>
        <ng-template pTemplate="footer">
            <div class="p-2">
            <p-button 
                label="Cancel" 
                [text]="true" 
                severity="danger" 
                (onClick)="visibleLoginPopup = false" 
            />
            <p-button 
                label="Log in" 
                [outlined]="true" 
                severity="primary" 
                (onClick)="login()" 
            />
            </div>
        </ng-template>
</p-dialog>