<main class="container">
  <img src="assets/img/Overcooked_background.png" alt="Overcooked" />
  <h1>Overcooked level randomizer</h1>

  <div id="content">
    <h2>Select the content you want to play</h2>
    <section>
      <article>
        <button class="game" type="button">Overcooked</button>
        <button class="dlc" type="button">DLCs</button>
      </article>
      <article>
        <button class="game" type="button">Overcooked 2</button>
        <button class="dlc" type="button">DLCs</button>
      </article>
      <article>
        <button class="game" type="button">Overcooked All You Can Eat</button>
        <button class="dlc" type="button">DLCs</button>
      </article>
    </section>
  </div>
</main>
