<footer>
    <section>
        <h4>
        <i class="pi pi-github"></i>
        Github:
        <a
            href="https://github.com/rubenalarcongalvez"
            >{{ "@rubenalarcongalvez" }}</a
        >
        </h4>
        <h4>
        <i class="pi pi-linkedin" style="color: rgb(100, 100, 255)"></i>
        LinkedIn:
        <a
            href="https://www.linkedin.com/in/ruben-alarcon-galvez/"
            >{{ "Rubén Alarcón Gálvez" }}</a
        >
        </h4>
    </section>
    <section>
        <p id="team17">All rights reserved for <a href="https://www.team17.com/">Team 17</a> (game developers: <a href="https://ghosttowngames.com/buy-games/">Ghost Town Games</a>)</p>
    </section>
</footer>